@media (min-width: 1600px) {
    @import 'header.scss';
    @import 'body.scss';

    .main-container {
        width: 1600px;
        height: 30%;
    }

    .br_desktop
    {
        display: inherit;
    }
}
