@import '../common/colors';

$input-width: 288px;

.header {
    &__logo{
        width: 120px;
        height: 25px;
        background-image: url('../../../images/logo.png');
        margin: 33px auto;
    }

    &__content {
        background-image: url('../../../images/bg_large.png');
        height: 601px;
        padding-left: 237px;
        padding-right: 237px;
        background-size: cover;
        background-position: center;
    }

    &__title {
        color: $base-white;
        padding-top: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    &__subtitle {
        width: 293px;
        margin-top: 27px;
        color: $base-white;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
    }

    &__form {
        margin: 48px auto auto;
    }

    .search-form {
        &__input-line {
            margin-bottom: 20px;

            &_flex {
                display: flex;
                flex-direction: column;
            }
        }

        &__search {
            width: 288px;
            height: 45px;
            background: $base-white;
            border: 1px solid $base-white;
            border-radius: 2px;
            font-size: 15px;
            line-height: 32px;
            padding-left: 16px;
            box-sizing: border-box;
        }

        &__search-icon {
            width: 15px;
            height: 16px;
            top: 13px;
            right: 14px;
            background-image: url('../../../images/search-ico.png');
            background-size: cover;
            position: absolute;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .input-wrap {
        &_header-transparent {
            display: flex;
            flex-direction: column;

            &:last-child {
                margin-bottom: 0;
            }

            .select2-container {
                width: $input-width !important;
                display: inline-flex;
                height: 38px;
                background: rgba(0, 0, 0, 0.0001);
                border: 2px solid #FFFFFF;
                border-radius: 5px;
                margin-bottom: 8px;

                .selection {
                    width: 100%;
                    font-size: 13px;
                }

                .select2-selection {
                    background-color: transparent;
                    border: none;

                    &__rendered {
                        padding-left: 12px;
                        color: $base-white
                    }

                    &__placeholder {
                        color: $base-white
                    }
                }

                .select2-selection__arrow b {
                    border-color: $base-white transparent transparent transparent;
                }

                &--open {

                    .select2-selection {

                        &--single {
                            .select2-selection__arrow b {
                                border-color: transparent transparent $base-white transparent;
                            }
                        }
                    }
                }
            }
        }

        &_relative {
            width: $input-width;
        }
    }
}
